<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="layout_new :: header"></div>
<div class="container">
    <div class="content">
        <h1>Search</h1>
<!--        <form th:action="@{services}" method="get">-->
<!--            <h2>Service</h2>-->
<!--            Search by name:-->
<!--            <input name="s" type="text"/>-->
<!--            <input type="submit" value="Search"/>-->
<!--        </form><br/>-->
<!--        <form th:action="@{customers}" method="get">-->
<!--            <h2>Customer</h2>-->
<!--            Search by name:-->
<!--            <input name="s" type="text"/>-->
<!--            <input type="submit" value="Search"/>-->
<!--        </form><br/>-->
        <form th:action="@{employees}" method="get">
            <h2>Employee</h2>
            Search by mã nhân viên:
            <input name="s" type="text"/>
            <input type="submit" value="Search"/>
        </form><br/>
        <form th:action="@{employees1}" method="get">
            <h2>Employee</h2>
            Search by số CMND:
            <input name="s" type="text"/>
            <input type="submit" value="Search"/>
        </form><br/>
        </center>

    </div>
</div>
<div th:replace="layout_new :: footer"></div>
</body>
</html>