<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<div class="container" style="width: 50%">
    <div class="card">
        <div class="card-header">
            <h4>Employee Information</h4>
            <th:block th:if="${message}">
                <p style="color: blue" th:text="${message}"></p>
            </th:block>
        </div>
        <div class="card-body">
            <form class="form" role="form" autocomplete="off" th:action="@{create-employee}" method="post" th:object="${employee}">
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Name Employee</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" th:field="*{fullName}" >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Birthday</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="date" th:field="*{birthday}" min="1970-01-01" max="2010-12-31" >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Id Number</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" th:field="*{idNumber}">
                        <p type="text" th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}" style="color: red">Name Error</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Gender</label>
                    <div class="col-lg-8">
                        <div class="form-check-inline">
                            <label class="form-check-label" >
                                <input th:field="*{gender}" type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Male
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" >
                                <input th:field="*{gender}" type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">FeMale
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Phone Number;</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" th:field="*{phoneNumber}">
                        <p type="text" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red">Name Error</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Email</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="email" th:field="*{email}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Address</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" th:field="*{address}">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Salary</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" th:field="*{salary}">
                        <p type="text" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}" style="color: red">Name Error</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Degree</label>
                    <div class="col-lg-8">
                        <!--                        <input class="form-control" type="text" th:field="*{employeeType}">-->
                        <select class="form-control"  th:field="*{degree}">
                            <option th:each="c : ${degrees}" th:value="${c.id}" th:text="${c.nameDegree}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Part</label>
                    <div class="col-lg-8">
                        <!--                        <input class="form-control" type="text" th:field="*{employeeType}">-->
                        <select class="form-control"  th:field="*{part}">
                            <option th:each="c : ${parts}" th:value="${c.id}" th:text="${c.part_Name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-form-label form-control-label">Position</label>
                    <div class="col-lg-8">
                        <!--                        <input class="form-control" type="text" th:field="*{employeeType}">-->
                        <select class="form-control"  th:field="*{position}">
                            <option th:each="c : ${positions}" th:value="${c.id}" th:text="${c.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 text-center">
                        <a type="button" class="btn btn-secondary" href="/employees">Cancel</a>
                        <input type="submit" class="btn btn-primary"
                               value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>