<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<a href="/create-product">Create new product</a>

<h1>Product List</h1>
<form>
    Search by name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
    <th:block th:each="product : ${products}">
            <td><a th:href="@{/view-product/__${product.id}__ }"><img th:src="@{${product.image.image_url}}" ></a></td>
    </th:block>
    <tr>
    <tr>
    <th:block th:each="product : ${products}">
            <td><center><p th:text="${product.name}"></center></td>
    </th:block>
    <tr>
    <tr>
        <th:block th:each="product : ${products}">
            <td><center><p th:text="${product.price}" ></center></td>
        </th:block>
    <tr>
</table>
<div>
    <a th:href="@{'/products'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/products'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>
</body>
</html>