<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Image</title>
</head>
<body>
<h1>Create Image</h1>
<p>
    <a href="/images">Image list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-image}" th:object="${image}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Id_Product:</td>
            <td><input type="text" th:field="*{id_product}"/></td>
        </tr>

        <tr>
            <td>Image_Url:</td>
            <td><input type="text" th:field="*{image_url}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Image"></td>
        </tr>
    </table>
</form>
</body>
</html>